.root {
  flex: 0 1 400px;
  position: relative;
  @media(max-width: 1009.8px) {
    flex: 0 1 auto;
    row-gap: 20px;
  }
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px 12px 42px;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease 0s;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;
}
.clear {
  height: 18px;
  width: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.8;
  }
}